<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mareklangiewicz.mytestapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.mareklangiewicz.mytestapp.MyTestActivity"
            android:label="@string/title_my_test_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
