<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.mareklangiewicz.myintent"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"
        />

    <permission
        android:name="pl.mareklangiewicz.myintent.permission.WRITE"
        android:label="Write My Intent rules and commands"
        />
    <!-- TODO SOMEDAY: automatic backup for user defined RE rules. (to synchronize between marshmallow devices) -->
    <application
        android:name="pl.mareklangiewicz.myintent.MIApplication"
        android:allowBackup="false"
        android:icon="@mipmap/mi_ic_launcher"
        android:label="@string/mi_app_name"
        android:supportsRtl="false"
        android:theme="@style/mi_AppTheme"
        >

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".MIActivity"
            />

        <activity
            android:name=".MIActivity"
            android:label="@string/mi_title_mi_activity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"
            >

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/mi_searchable"
                />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.VIEW"/>

                <data android:scheme="mi"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.VIEW"/>
                <data
                    android:host="mi"
                    android:path="/"
                    android:scheme="http"
                    />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- FIXME SOMEDAY: I can not use autoVerify - my homepage is on github, so I can not set assetlinks.json correctly.. -->
            <intent-filter
                android:autoVerify="false"
                android:priority="999"
                tools:ignore="UnusedAttribute"
                >
                <action android:name="android.intent.action.VIEW"/>

                <data
                    android:host="mareklangiewicz.pl"
                    android:path="/mi"
                    android:scheme="http"
                    />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>



        <!--This activity is only for debugging -->
        <activity
            android:name="pl.mareklangiewicz.myactivities.MyTestActivity"
            android:label="@string/mi_my_test_activity"
            android:enabled="@bool/mi_debug_mode"
            />


        <provider
            android:name=".MIContentProvider"
            android:authorities="pl.mareklangiewicz.myintent.provider"
            android:enabled="true"
            android:exported="true"
            android:writePermission="pl.mareklangiewicz.myintent.permission.WRITE"
            >
            <path-permission
                android:pathPrefix="/cmd/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH"
                />
        </provider>
        <receiver android:name="RecentCommandsAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mi_recent_commands_appwidget_info"
                />

        </receiver>
        <service
            android:name=".RecentCommandsRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />
    </application>

</manifest>
